<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Send Message</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main>
      <h1>Send Message</h1>
      <form id="myForm">
        <input type="tel" id="number" placeholder="Enter Phone Number..." required/>
        <input type="text" id="message" placeholder="Enter Text Message..." required/>
        <div class="btns">
          <button type="submit">Send message</button>
        </div>
      </from>

      <p id="response">ok</p>
    </main>

    <script src="/js/script.js"></script>
  </body>
</html>
